
    body{
     
       background-image:url(iron-man-logo-in-the-dark-kkkpop58t09l7w09.jpg);
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-size:cover;
        margin-top:50px
    }
    html{
        font-family: monospace;
    }

    h1{
        color:white;
        border-style:double;
        border-color:springgreen;
        text-align: center;
    }
    p{
        background:linear-gradient(to bottom,black,green);
        background-repeat:no-repeat;
        background-attachment: fixed;
        color:white;
        font-size: large;
    }
    #p1{ /*id*/
        color:white;
    }
    .even{
         border-style:inset;
    }
    .odd{   /*class*/
         border-style:outset;
    }
    #p2{
        color:ghostwhite
    }
    #box1{
        border:5px solid;
        border-color:aliceblue;
        background:linear-gradient(royalblue,black);
        height: 250px;
        width:250px;
        font-size: 22px;
        margin-left:100px;
    }
    #box2{
        border:5px solid;
        border-color:white;
        background:linear-gradient(purple,black);
        height: 250px;
        width:250px;
        font-size: 22px;
        color: bisque;
        margin-top: 50px;
    }
    